 .fondo{
    padding: 5px;
    background-color: #4eb8dd;
  }

  div{
    display: inline-block;
    text-align: center;
    
  }
  
  button{
    transition: 0.5s;
    color: black;
    background-color: white;
  }

  button:hover{
    transition: 0.5s;
    transform: scale(1.1);
    color: white;
    background-color: orange;
  }