<app-slideout [hidden]="!show"></app-slideout>

<div [hidden]="!show" class="navbar full-width">
  <a href="#" data-activates="slide-out" id="navbar" class="button-collapse">
    <i class="material-icons menu-icon icon color-orange">menu</i>
  </a>
</div>

<style>
  .navbar {
    text-align: center;
    cursor: pointer;
  }

  .a {
    background: red;
  }

  .icon {
    padding: .5em;
  }

  #navbar {
    z-index: 1;
    margin: 0;
    padding: 0;
    display: block;
    background: black;
    border-bottom: 1px solid orange;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
</style>