<html>
<div class=" full-width flexbox-s" >
     <div class=" full-width"> <!-- row -->
      <div class="col m3 l4 hide-on-small-only"></div>
      <div class="container flex-direction-column  flexbox-s full-height col l4 m6 s12">
        <div class="row form-header flexbox-s full-width flex-direction-column">
          <div class="foo">
            <span class="letter" data-letter="G">G</span>
            <span class="letter" data-letter="A">A</span>
            <span class="letter" data-letter="M">M</span>
            <span class="letter" data-letter="E">E</span>
            <div class="foo">
            <span class="letter" data-letter="M">M</span>
            <span class="letter" data-letter="A">A</span>
            <span class="letter" data-letter="N">N</span>
            <span class="letter" data-letter="I">I</span>
            <span class="letter" data-letter="A">A</span>
          </div>         
        </div>
      </div>  
        <div class="menu row form-body full-width">
        <h4 class="h4">Ingrese sus datos</h4>
        <div class="row form-body full-width">
          <div class="col hide-on-small-only fill m2 l2"></div>
          <div class="col form-center s12 m8 l8">
            <mat-progress-bar mode="indeterminate" class="" *ngIf ="isLoading"></mat-progress-bar>
            <div class="form-controler">
              <mat-form-field>
                <label>Correo electrónico</label>
                <input matInput placeholder="correo@electronico.com" [formControl]="email" required value="miranda@gmail.com">
                <mat-error  [ngClass]="email.invalid  ? 'error-message' : 'default-message' " *ngIf="email.invalid && email.dirty">{{err.getErrorMessageEmail(email)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field>
                <label>Contraseña <mat-hint *ngIf="password.invalid"></mat-hint></label>
                <input type="password" matInput   placeholder="Contraseña" [formControl]="password" required value="mainola1">
                <mat-error  [ngClass]="password.invalid  ? 'error-message' : 'default-message' " *ngIf="password.invalid && password.dirty">{{err.getErrorMessagePassword(password)}}</mat-error>
              </mat-form-field>
            </div>
            <div class="row-button">
                <button mat-raised-button class="waves-effect waves-light blue-text lighten-2 btn" (click)="signIn()">Iniciar sesión</button>
                <button mat-button [routerLink]="['/register']" class="waves-effect waves-red btn" color="primary">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
  </html>