 <div id="acomodar">
  <div class="contenido">  
  <img id="acomodarImg" router (click)="goToGame()" src="assets/colores.jpg" alt="Sigue el color">
    <p class="juego">
        <b>Sigue el color:</b>
      </p>
      <p class="juego">
        Sigue la secuencia de colores
    </p>
  </div>

  <div class="contenido">
    <img id="acomodarImg" router (click)="goToAdivina()" src="assets/imagenes/adivina.jpg" alt="Adivina">
    <p class="juego"> 
        <b>Adivina el número:</b>
      </p>
        <p class="juego">
        Adivina cual es el número
    </p>
  </div>

  <div class="contenido">
    <img id="acomodarImg" router (click)="goToAgilidad()" src="assets/imagenes/agilidad.png" alt="Agilidad">
      <p class="juego">
        <b>Agilidad aritmetica:</b>
      </p>
      <p class="juego">
        ¡Resuelve las operaciones matemáticas!
      </p>
    </div>

  <div class="contenido">
    <img id="acomodarImg" router (click)="goToAnagrama()" src="assets/imagenes/anagrama.png" alt="Anagrama">
      <p class="juego">
        <b>Anagrama:</b>
      </p>
    <p class="juego">
      ¿Cual es la frase?
      </p>
 </div>

<div class="contenido">
    <img id="acomodarImg" router (click)="goToPiedraPapelTijera()" src="assets/imagenes/piedrapapeltijera.jpg" alt="Piedra papel tijera">
      <p class="juego">
        <b>Piedra, papel o tijera:</b>
      </p>
    <p class="juego">
        ¿Quién le gana a quien?
      </p>
    </div>

  <div class="contenido">
    <img id="acomodarImg" router (click)="goToTateti()" src="assets/imagenes/tateti.jpg" alt="Piedra papel tijera">
      <p class="juego">
        <b>Ta te ti:</b>
      </p>
        <p class="juego">
        ¡Elige!
      </p>
    </div>
</div>