.contenido{
  height: 250px;
  width: 300px;
  margin: 20px;
  transition: 0.5s;
}

.contenido:hover{
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.05);
}

#acomodarImg {
  height: 250px;
  display: flex;  
  margin: 0;
  width: 100%;
} 

.juego{
  text-align: center;
  background-color: white;
}