<mat-card class="ejemplo">
  <img router (click)="goToGame()" mat-card-image  src="assets/colores.jpg" alt="Sigue el color">
  <mat-card-content>
    <p>
      <b>Sigue el color:</b>
      Seguir la secuencia de colores. ¡Presta atención!
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="ejemplo">
  <img router (click)="goToAdivina()" mat-card-image  src="assets/anagrama.jpg" alt="Adivina">
  <mat-card-content>
    <p>
      <b>Adivina el número:</b>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus possimus explicabo magnam ullam illo deleniti dolorum voluptatum expedita! Nihil expedita ex ea ad quo laborum cumque eos nesciunt similique!
    </p>
  </mat-card-content>
</mat-card>