<mat-card class="ejemplo">
  <img router (click)="goToGame()" mat-card-image  src="assets/colores.jpg" alt="Sigue el color">
  <mat-card-content>
    <p>
      <b>Sigue el color:</b>
      Seguir la secuencia de colores. ¡Presta atención!
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="ejemplo">
  <img router (click)="goToAdivina()" mat-card-image  src="assets/anagrama.jpg" alt="Adivina">
  <mat-card-content>
    <p>
      <b>Adivina el número:</b>
      Adivina cual es el número.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="ejemplo">
  <img router (click)="goToAgilidad()" mat-card-image  src="assets/anagrama.jpg" alt="Adivina">
  <mat-card-content>
    <p>
      <b>Agilidad aritmetica:</b>
      ¡Resuelve las operaciones matemáticas!
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="ejemplo">
  <img router (click)="goToAnagrama()" mat-card-image  src="assets/anagrama.jpg" alt="Adivina">
  <mat-card-content>
    <p>
      <b>Anagrama:</b>
      ¿Cual es la frase?
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="ejemplo">
  <img router (click)="goToPiedraPapelTijera()" mat-card-image  src="assets/anagrama.jpg" alt="Adivina">
  <mat-card-content>
    <p>
      <b>Piedra, papel o tijera:</b>
      ¡Elige!
    </p>
  </mat-card-content>
</mat-card>
