.titulo{
    color: rgb(6, 138, 247);
    font-family: cursive; 
}

.colorGano{
    color:rgb(26, 255, 0);
    font-family: cursive; 
    font-weight: bold;
}

.colorPerdio{
    color:rgb(252, 0, 0);
    font-family: cursive; 
    font-weight: bold;
}

.colorEmpato{
    color:rgb(245, 220, 1);
    font-family: cursive; 
    font-weight: bold;
}

.display{
    display: inline-block;
}

.ppt{
    border: 2px solid rgb(6, 138, 247);
    border-radius: 15px;  
    transform: scale(1.25);
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.ppt:hover{
    
    transition: 0.5s;
    transform: scale(1.25);
}
