
<div >
<div align="center" class="titulo">
<h3>PIEDRA, PAPEL O TIJERA</h3>
</div>

<div id="acomodar">
<img class="ppt" src="./assets/imagenes/piedra.png" border="1" width="200px" height="120px" (click)="Piedra()">

<img class="ppt" src="./assets/imagenes/papel.png" border="1" width="200px" height="120px" (click)="Papel()">

<img class="ppt" src="./assets/imagenes/tijera.png" border="1" width="200px" height="120px" (click)="Tijera()">
</div>



<div *ngIf="juegoPPT.numeroRandom==1" align="center">
    <img class="ppt" src="./assets/imagenes/piedra.png" border="1" width="200px" height="120px">
</div>

<div *ngIf="juegoPPT.numeroRandom==2" align="center">
    <img class="ppt" src="./assets/imagenes/papel.png" border="1" width="200px" height="120px">
</div>

<div *ngIf="juegoPPT.numeroRandom==3" align="center">
    <img class="ppt" src="./assets/imagenes/tijera.png" border="1" width="200px" height="120px">
</div>





<br><br>
<div class="colorGano" *ngIf="juegoPPT.resultado=='Gano'" align="center">
    <h1> GANO </h1>
</div>

<div class="colorPerdio" *ngIf="juegoPPT.resultado=='Perdio'" align="center">
    <h1> PERDIO</h1>
</div>

<div class="colorEmpato" *ngIf="juegoPPT.resultado=='Empato'" align="center">
    <h1> EMPATO</h1>
</div>

</div>