.button {
    background-color: rgb(255, 255, 255); 
    border: none;
    color: rgb(6, 138, 247);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(6, 138, 247); 
    color: black; 
    border: 4px solid rgb(6, 138, 247);
}

.button1:hover {
    background-color: white;
    color: rgb(6, 138, 247);
    font-size: 32px;
}

.button2 {
    background-color: rgb(238, 210, 51); 
    color: black; 
    border: 4px solid rgb(238, 210, 51);
}

.button2:hover {
    background-color: white;
    color: rgb(238, 210, 51);
    font-size: 32px;
}

.textBox{
    width: 228px; 
    height: 98px; 
    font-size: 32px;
}

.titulo{

    color: rgb(6, 138, 247);
    font-family: cursive; 
}
.fondo{
    background-color: white; 
    height: 600px;
    width: 600px;
    margin-left: 30%;
    margin-top: 1%;
    }