<!-- <app-menu class="menu"></app-menu> -->
<div class="capaFoto"> 
  <img src="./assets/mauro.jpg" width="200px" height="200px"> 
</div> 

<div class=" titulo" >
    <br>
  <h2>¿Quien Soy?</h2>
</div>

<div class="capaTexto1">
<p align="center">PRESENTACION</p>
  Soy Mauro Zampini y soy estudiante <br>de la UTN (Facultad Regional Avellaneda).<br>
  Estás navegando en mi página web <br> que consiste en una sala de juegos, en la cual<br>
  podés jugar con cada uno de ellos <br> ¡A divertirse!
</div>

<div class="capaTexto2">
  <p align="center">Secuencia de COLORES</p>
  Tenés que seguir la secuencia de colores que se va dando aleatoriamente entre los 4 colores presentes: verde, amarillo, rojo y azul.<br>
  Para esto, <br>tenés que hacer click en los colores que fueron siendo prendidos en el mismo orden.<br>
</div>