<div id="acomodar">
    <mat-card class="">
        <img src="./assets/mauro.jpg" width="25%" height="25%"> 
        <mat-card-content>
            <div  >
                <p class="titulo">¿Quién Soy?</p>
              </div>
              <div class="capaTexto1">
                  <p align="center">PRESENTACION</p>
                    <p align="center"> Soy Mauro Zampini. Estudiante <br>de la UTN.<br>
                    Estás navegando en mi página web <br> que consiste en una sala de juegos, en la cual<br>
                    podés jugar con cada uno de ellos <br> ¡A divertirse!
                  </p>
                  </div>
                  <div class="capaTexto2">
                      <p align="center">SIGUE EL COLOR</p>
                      Tenés que seguir la secuencia de colores que se va dando aleatoriamente entre los 4 colores presentes: verde, amarillo, rojo y azul.<br>
                      Para esto, tenés que hacer click en los colores que fueron siendo prendidos en el mismo orden.<br>
                    </div>
        </mat-card-content>
      </mat-card>
 </div>
 

  
