*{
    margin: 0;
    padding: 0;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    min-width: 100vh;
    min-height: 100vh;
}

html{ 
    background-image: url("../assets/4C1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }