<html lang="es">
  
  <head>
      <meta charset="utf-8">
      <title>Serie Ejercicios Resueltos en Javascript - Ejercicio 6: Juego de repetir la secuencia de colores</title>
      <meta name="description" content="Juego de repetir la secuencia de colores.">
      <meta name="author" content="Chema Moreno - www.pupitredigital.com - 2016">
  </head>
  
  <body>
      <h1>Juego de repetir la secuencia de colores</h1>
      <p id="salida">NIVEL 1</p>
      <div id="aparato">
          <div id="verde" class="color verdeApagado" [ngClass]="{'verdeApagado': verde == 'verdeA', 'verdeEncendido': verde == 'verdeE'}"></div>
          <div id="rojo" class="color rojo" [ngClass]="{'rojoApagado': rojo == 'rojoA', 'rojoEncendido': rojo == 'rojoE'}"></div>
          <div id="amarillo" class="color amarillo" [ngClass]="{'amarilloApagado': amarillo == 'amarilloA', 'amarilloEncendido': amarillo == 'amarilloE'}"></div>
          <div id="azul" class="color azul" [ngClass]="{'azulApagado': azul == 'azulA', 'azulEncendido': azul == 'azulE'}"></div>
      </div>
      <button id="empezar" (click)="comienzaPartida()">EMPEZAR</button>
  
  </body>
  
  </html>