body{
    background: none;
}


.boton{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
          color: #FFF;
          background: #7F8C8D;
          padding: 7px 20px;
          white-space: nowrap;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 100px;
          margin: 10px 5px;
          -webkit-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
 
.azul{
background: #3498DB;
box-shadow: 0px 5px 0px 0px #2980B9;
}

.azul:hover{
background: #39a0e5;
}

.azul:active{
box-shadow: 0px 2px 0px 0px #2980B9;
}

h1{
    text-align: center;
}
#salida{
    font-size: 1.5rem;
    text-align: center;
}
#aparato{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
}
.color{
    width: 50%;
    height: 200px;
}
#verde{
    border-radius: 100% 0 0 0;
    /*background: #049E03;*/
}
#rojo{
    border-radius: 0 100% 0 0;
    /*background: #AE0404;*/
}
#amarillo{
    border-radius: 0 0 0 100%;
    /*background: #CAC902;*/
}
#azul{
    border-radius: 0 0 100% 0;
    /*background: #0404A6;*/
}
#empezar{
    /*display: block; COMENTAR ESTA LINEA Y FUNCIONA LO DE OCULTAR MOSTRAR*/
    margin: 2rem auto;
}

#perdiste{
    margin: 2rem auto;
    font-size: 1.5rem;
    text-align: center;
}

.perdiste{
    display: block;
}

.noPerdiste{
    display: none;
}

.verdeApagado{
    background: #049E03;
}

.verdeEncendido{
    background: #4EFE4E;
    transform: scale(1.05);
}

.rojoApagado{
    background: #AE0404;
}

.rojoEncendido{
    background: #FD2D2D;
    transform: scale(1.05);
}

.amarilloApagado{
    background: #CAC902;
}

.amarilloEncendido{
    background: #FDFD13;
    transform: scale(1.05);
}

.azulApagado{
    background: #0404A6;
}

.azulEncendido{
    background: #4A4AFD;
    transform: scale(1.05);
}

.empezarMostrado{
    display: block;
}

.empezarEscondido{
    display: none;
}