@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/materialize-css/dist/css/materialize.css";

* {
  font-family:  Helvetica, sans-serif, Georgia, Times, serif;
  margin: 0;
  padding: 0;
}

.error-message{
  color:red;
}

.full-width {
  min-width: 100%;
  max-width: 100%;
}

.flexbox-s {
  display: flex;
  justify-content: center;
  align-items: center;
}

 #acomodar {
  display: flex;
  justify-content:  center;
  align-content: space-between;
  flex-wrap:  wrap;
  align-items: center;
  margin: 40px;
} 

.flexwrap-wrap {
  flex-wrap: wrap;
}

.justifycontent-space-between {
  justify-content: space-between;
}
.justifycontent-start{
  justify-content: flex-start;
}

.justifycontent-end{
  justify-content: flex-end;
}

.background-black {
  background: black;
}

.flex-direction-column {
  flex-direction: column;
}

.row-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-button {
  margin: 10px 0 10px 0;
}

.color-white {
  color: white;
}

.color-red {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}
.color-yellow {
  color: yellow;
}

.color-orange {
  color: orange;
}

body {
      background-image: url("assets/imagenes/fantasmas.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: #464646;
}
