.contenedor{
    background-color: rgb(0, 84, 129);
    border:none !important;
    border-color: #fcfcfc;
    border-bottom: solid 2px #414042;
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 2px solid #000000;
}

.titulo{
    color: rgb(6, 138, 247);
    font-family: cursive; 
}

.contador{
    color: rgb(10, 45, 73);
    left: 350px;
    top: 560px;
    position:absolute;
}

.gano{
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

.texto{
    color: white;
    background: rgb(0, 15, 126);
}

.jugar{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        display:inline-block;
          color: #FFF;
          background: rgb(67, 84, 235);
          padding: 7px 20px;
          white-space: nowrap;
          border-radius: 100px;
          margin: 10px 5px;
          transition: all 0.2s ease-in-out;
}
 
.jugar:hover{
          background: rgb(0, 15, 126);
          transition: all 0.2s ease-in-out;
}

.verificar{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        display:inline-block;
          color: #FFF;
          background: rgb(0, 182, 24);
          padding: 7px 20px;
          white-space: nowrap;
          border-radius: 100px;
          margin: 10px 5px;
          transition: all 0.2s ease-in-out;
}
 
.verificar:hover{
          background: rgb(0, 46, 8);
          transition: all 0.2s ease-in-out;
}

.merindo{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          text-align:center;
          text-decoration: none;
          font-family: 'Helvetica Neue', Helvetica, sans-serif;
          display:inline-block;
          color: #FFF;
          background: rgb(235, 78, 67);
          padding: 7px 20px;
          white-space: nowrap;
          border-radius: 100px;
          margin: 10px 5px;
          transition: all 0.2s ease-in-out;
}
 
.merindo:hover{
          background: rgb(160, 0, 0);
          transition: all 0.2s ease-in-out;
}
