
<div align="center" class="titulo">
          <h3>ANAGRAMA</h3><br><br>
        </div>
        <div align="center" class="titulo">
        <h4>¡Ordena la palabra!</h4>
</div>

<div id="acomodar" class="contenedor">
    
   
        <h4>Tu palabra es: </h4>
        <h1 >{{miJuego.palabraAJugar}}</h1>
        
        <input type="text" name="palabraDelUsuario" [(ngModel)]="miJuego.palabraDelUsuario">
        <div>
        <input type="button" name= "Jugar" class="jugar" (click)="jugar()" value="JUGAR" style='width:250px; height:100px'>
        </div>
        <div >
          <input type="button" name= "Verificar" class="verificar" (click)="verificar(miJuego.palabraDelUsuario)" value="VERIFICAR" style='width:250px; height:100px'><br><br>

          <input type="button" name= "Rendicion" class="merindo" (click)="rendirse()" value="ME RINDO" style='width:250px; height:100px'>
        </div>
 

        <div id="acomodar" >
          <h3>CONTADOR: {{miJuego.contador}}</h3>
        </div>

        <div class="gano">
            <h3>{{miJuego.resultado}}</h3>
        </div>

  </div>


