<div class="container full-width flexbox-s">
  <div class="menurow full-width">
    <div class="col m3 l4 hide-on-small-only"></div>
    <div class="flex-direction-column  flexbox-s full-height col l4 m6 s12">
      <div class="row form-header flexbox-s flex-direction-column full-width">
        <h5 class="hide-on-small-only  hide-on-med-only">¡Registrate para poder jugar con nosotros!</h5>
        <h5 class="hide-on-large-only">Registrarse</h5>
        <p>Complete los campos</p>
      </div>
      <div class="menu row form-body full-width">
        <div class="col  hide-on-small-only fill m2 l2"></div>
        <div class="col form-center s12 m8 l8">
          <mat-progress-bar mode="indeterminate" class="" *ngIf ="isLoading"></mat-progress-bar>
          <div class="form-controler">
            <mat-form-field>
              <label>Correo electrónico</label>
              <input matInput placeholder="correo@electronico.com" [formControl]="email" required>
              <mat-error  [ngClass]="email.invalid  ? 'error-message' : 'default-message' " *ngIf="email.invalid && email.dirty">{{err.getErrorMessageEmail(email)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field>
              <label>Contraseña <mat-hint *ngIf="password.invalid"></mat-hint></label>
              <input type="password" matInput   placeholder="Contraseña" [formControl]="password" required>
              <mat-error  [ngClass]="password.invalid  ? 'error-message' : 'default-message' " *ngIf="password.invalid && password.dirty">{{err.getErrorMessagePassword(password)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="">
            <mat-form-field>
              <label>Contraseña de nuevo <mat-hint *ngIf="password.invalid" ></mat-hint></label>
              <input type="password" matInput placeholder="Contraseña" [formControl]="passwordAgain" required>
              <mat-error  [ngClass]="err.getErrorMessagePasswordEquals(password, passwordAgain)  ? 'error-message' : 'default-message' " *ngIf="passwordAgain.invalid || passwordAgain.dirty">{{err.getErrorMessagePasswordEquals(password, passwordAgain)}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row-button">
              <button mat-raised-button class="form-button" color="primary" (click)="signUs()">Registrarse</button>
              <button mat-button class="form-button" [routerLink]="['/login']" color="primary">Volver</button>
          </div>
        </div>
        <div class="col  hide-on-small-only fill m2 l2"></div>
      </div>
    </div>
    <div class="col m3 l4 hide-on-small-only"></div>
  </div>
</div>